@import "tailwindcss";

body {
  background-image: url('../public/images/Background-4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
